In [234]:
import pandas as pd

In [235]:
df = pd.read_csv("/Users/malcolmrodgers/Documents/Coding/Python/GDPpredictor/worlddata2023.csv", sep=',')
df

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",6.423750,-66.589730
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",...,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",-19.015438,29.154857

In [236]:
print(list(df.columns))

['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)', 'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code', 'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)', 'Currency-Code', 'Fertility Rate', 'Forested Area (%)', 'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)', 'Gross tertiary education enrollment (%)', 'Infant mortality', 'Largest city', 'Life expectancy', 'Maternal mortality ratio', 'Minimum wage', 'Official language', 'Out of pocket health expenditure', 'Physicians per thousand', 'Population', 'Population: Labor force participation (%)', 'Tax revenue (%)', 'Total tax rate', 'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude']

In [237]:
df = df[['Country', 'GDP', 'Armed Forces size', 'Gross tertiary education enrollment (%)', 'Infant mortality', 'Life expectancy', 'Population', 'Urban_population', 'Latitude']]

df

,Country,GDP,Armed Forces size,Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Population,Physicians per thousand,Population: Labor force participation (%),Urban_population,Latitude
0,Afghanistan,"$19,101,353,833","323,000",9.70%,47.9,64.5,"38,041,754",0.28,48.90%,"9,797,273",33.939110
1,Albania,"$15,278,077,447","9,000",55.00%,7.8,78.5,"2,854,191",1.20,55.70%,"1,747,593",41.153332
2,Algeria,"$169,988,236,398","317,000",51.40%,20.1,76.7,"43,053,054",1.72,41.20%,"31,510,100",28.033886
3,Andorra,"$3,154,057,987",NaN,NaN,2.7,NaN,"77,142",3.33,NaN,"67,873",42.506285
4,Angola,"$94,635,415,870","117,000",9.30%,51.6,60.8,"31,825,295",0.21,77.50%,"21,061,025",-11.202692
...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,"$482,359,318,768","343,000",79.30%,21.4,72.1,"28,515,829",1.92,59.70%,"25,162,368",6.423750
191,Vietnam,"$261,921,244,843","522,000",28.50%,16.5,75.3,"96,462,106",0.82,77.40%,"35,332,140",14.058324
192,Yemen,"$26,914,402,224","40,000",10.20%,42.9,66.1,"29,161,922",0.31,38.00%,"10,869,523",15.552727
193,Zambia,"$23,064,722,446","16,000",4.10%,40.4,63.5,"17,861,030",1.19,74.60%,"7,871,713",-13.133897
194,Zimbabwe,"$21,440,758,800","51,000",10.00%,33.9,61.2,"14,645,468",0.21,83.10%,"4,717,305",-19.015438

In [238]:
df.dtypes

Country                                       object
GDP                                           object
Armed Forces size                             object
Gross tertiary education enrollment (%)       object
Infant mortality                             float64
Life expectancy                              float64
Population                                    object
Physicians per thousand                      float64
Population: Labor force participation (%)     object
Urban_population                              object
Latitude                                     float64
dtype: object

In [239]:
df = df.replace(',', '', regex=True)
df = df.dropna(axis=0)
df['GDP'] = df['GDP'].str.strip('$')

In [240]:
cols = df.select_dtypes(object).columns
df[cols] = df[cols].apply(lambda x: x.str.strip('%'))

In [241]:
df

,Country,GDP,Armed Forces size,Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Population,Physicians per thousand,Population: Labor force participation (%),Urban_population,Latitude
0,Afghanistan,19101353833,323000,9.70,47.9,64.5,38041754,0.28,48.90,9797273,33.939110
1,Albania,15278077447,9000,55.00,7.8,78.5,2854191,1.20,55.70,1747593,41.153332
2,Algeria,169988236398,317000,51.40,20.1,76.7,43053054,1.72,41.20,31510100,28.033886
4,Angola,94635415870,117000,9.30,51.6,60.8,31825295,0.21,77.50,21061025,-11.202692
6,Argentina,449663446954,105000,90.00,8.8,76.5,44938712,3.96,61.30,41339571,-38.416097
...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,482359318768,343000,79.30,21.4,72.1,28515829,1.92,59.70,25162368,6.423750
191,Vietnam,261921244843,522000,28.50,16.5,75.3,96462106,0.82,77.40,35332140,14.058324
192,Yemen,26914402224,40000,10.20,42.9,66.1,29161922,0.31,38.00,10869523,15.552727
193,Zambia,23064722446,16000,4.10,40.4,63.5,17861030,1.19,74.60,7871713,-13.133897
194,Zimbabwe,21440758800,51000,10.00,33.9,61.2,14645468,0.21,83.10,4717305,-19.015438

In [243]:
cols = list(df.loc[:, 'GDP':'Latitude'])
df[cols] = df[cols].astype(float)
df.dtypes

Country                                       object
GDP                                          float64
Armed Forces size                            float64
Gross tertiary education enrollment (%)      float64
Infant mortality                             float64
Life expectancy                              float64
Population                                   float64
Physicians per thousand                      float64
Population: Labor force participation (%)    float64
Urban_population                             float64
Latitude                                     float64
dtype: object

In [244]:
df.corr('pearson')

,GDP,Armed Forces size,Gross tertiary education enrollment (%),Infant mortality,Life expectancy,Population,Physicians per thousand,Population: Labor force participation (%),Urban_population,Latitude
GDP,1.000000,0.605043,0.215689,-0.160827,0.180947,0.628948,0.091915,-0.006323,0.782557,0.132972
Armed Forces size,0.605043,1.000000,0.105674,-0.082293,0.078539,0.875952,0.010846,-0.083790,0.851118,0.116723
Gross tertiary education enrollment (%),0.215689,0.105674,1.000000,-0.747750,0.772629,0.017110,0.739366,-0.187034,0.092323,0.422603
Infant mortality,-0.160827,-0.082293,-0.747750,1.000000,-0.933930,0.002057,-0.713322,0.137027,-0.062308,-0.451580
Life expectancy,0.180947,0.078539,0.772629,-0.933930,1.000000,0.007649,0.708006,-0.164994,0.071265,0.470474
Population,0.628948,0.875952,0.017110,0.002057,0.007649,1.000000,-0.062196,-0.059019,0.953725,0.030215
Physicians per thousand,0.091915,0.010846,0.739366,-0.713322,0.708006,-0.062196,1.000000,-0.166183,-0.009087,0.496119
Population: Labor force participation (%),-0.006323,-0.083790,-0.187034,0.137027,-0.164994,-0.059019,-0.166183,1.000000,-0.050044,-0.306891
Urban_population,0.782557,0.851118,0.092323,-0.062308,0.071265,0.953725,-0.009087,-0.050044,1.000000,0.053042
Latitude,0.132972,0.116723,0.422603,-0.451580,0.470474,0.030215,0.496119,-0.306891,0.053042,1.000000

In [245]:
df.to_csv('/Users/malcolmrodgers/Documents/Coding/Python/GDPpredictor/worlddata2023clean.csv', sep=',')